<section id="top">
  <h1><a href="/">Pollen Chart</a></h1>
  <p>v{{ version }}</p>
</section>

<section>
  <h2>{{ sites.length }} sites in the database</h2>

  <ul>
    {{#each sites}}
    <li><a href="/sites/{{ sigle }}">{{ sitename }} ({{ sigle }})</a></li>
    {{/each}}
  </ul>
</section>
