<div>
<h2>{{ site.sitename }} ({{ site.sigle }})</h2>
<dl>
  <dt>Date:</dt>
  <dd>{{ site.sampdate }}</dd>
  <dt>Elevation:</dt>
  <dd>{{ site.elevation }} meters</dd>
  <dt>Description:</dt>
  <dd>{{ site.description }}</dd>
  <dt>Physiography:</dt>
  <dd>{{ site.physiography }}</dd>
  <dt>Vegetation:</dt>
  <dd>{{ site.vegetation }}</dd>
  <dt>Location:</dt>
  <dd>{{ site.entloc }}</dd>
  <dt>Notes:</dt>
  <dd>{{ site.notes }}</dd>
</dl>
</div>
